# Data analysis

> Covid related data analysis from the csv provided

## Import data to current notebook

Call pandas library, then read csv

In [3]:
import pandas as pd
covid = pd.read_csv("project_covid19.csv")

Check the data imported

In [4]:
covid

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6734,6740,6748,6750,6760,6763,6763,6773,6793,6819
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20652,20670,20674,20701,20714,20723,20730,20764,20787,20815
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2252,2257,2262,2264,2271,2271,2271,2275,2284,2289
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2564,2559,2560,2560,2563,2563,2567,2569,2569,2573
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6497,6507,6511,6519,6529,6532,6532,6548,6556,6563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,3675,3684,3689,3694,3694,3694,3703,3707,3711,3715
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,2153,2153,2155,2155,2155,2155,2150,2155,2154,2157
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,898,898,898,898,898,898,898,898,898,898
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,642,646,646,646,646,646,647,647,647,647

## 1. What is the total number of reported COVID-19 cases in the USA?

Reported cases per day are comulative, that means that we will get the total commulative looking at he last column. Then we will sum the last column to get the total cases

In [5]:
last_day = covid.columns[-1]

In [6]:
last_day

'4/22/21'

In [7]:
covid[last_day]

0        6819
1       20815
2        2289
3        2573
4        6563
        ...
3337     3715
3338     2157
3339        0
3340      898
3341      647
Name: 4/22/21, Length: 3342, dtype: int64

In [10]:
sum(covid[last_day])

31929351