# Data analysis

> Covid related data analysis from the csv provided

## Import data to current notebook

Call pandas library, then read csv

In [3]:
import pandas as pd
covid = pd.read_csv("project_covid19.csv")

Check the data imported

In [4]:
covid

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6734,6740,6748,6750,6760,6763,6763,6773,6793,6819
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20652,20670,20674,20701,20714,20723,20730,20764,20787,20815
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2252,2257,2262,2264,2271,2271,2271,2275,2284,2289
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2564,2559,2560,2560,2563,2563,2567,2569,2569,2573
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6497,6507,6511,6519,6529,6532,6532,6548,6556,6563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,3675,3684,3689,3694,3694,3694,3703,3707,3711,3715
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,2153,2153,2155,2155,2155,2155,2150,2155,2154,2157
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,898,898,898,898,898,898,898,898,898,898
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,642,646,646,646,646,646,647,647,647,647

In [ ]:
## 1. What is the total number of reported COVID-19 cases in the USA?

Reported cases per day are comulative, that means that we will get the total commulative looking at he last column. Then we will sum the last column to get the total cases

In [5]:
last_day = covid.columns[-1]

In [6]:
last_day

'4/22/21'

In [11]:
covid[last_day]

0        6819
1       20815
2        2289
3        2573
4        6563
        ...
3337     3715
3338     2157
3339        0
3340      898
3341      647
Name: 4/22/21, Length: 3342, dtype: int64

In [10]:
sum(covid[last_day])

31929351

## 2. What is the total number of reported COVID-19 cases for Virginia?
Lets create a boolean filter to get a table that belongs to 'Province_State' == 'Virginia'

In [13]:
virginia_filter = covid['Province_State'] == 'Virginia'

In [14]:
virginia_filter

0       False
1       False
2       False
3       False
4       False
        ...
3337    False
3338    False
3339    False
3340    False
3341    False
Name: Province_State, Length: 3342, dtype: bool

In [15]:
covid_virginia = covid[virginia_filter]

In [16]:
covid_virginia

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/13/21,4/14/21,4/15/21,4/16/21,4/17/21,4/18/21,4/19/21,4/20/21,4/21/21,4/22/21
3010,84051001,US,USA,840,51001.0,Accomack,Virginia,US,37.767072,-75.632346,...,2750,2756,2762,2763,2770,2773,2775,2776,2778,2777
3011,84051003,US,USA,840,51003.0,Albemarle,Virginia,US,38.020807,-78.554811,...,5448,5470,5491,5506,5515,5526,5535,5555,5620,5635
3012,84051510,US,USA,840,51510.0,Alexandria,Virginia,US,38.814003,-77.081831,...,11348,11375,11387,11402,11442,11461,11481,11491,11519,11522
3013,84051005,US,USA,840,51005.0,Alleghany,Virginia,US,37.786361,-80.002225,...,1296,1299,1298,1298,1299,1299,1299,1302,1299,1302
3014,84051007,US,USA,840,51007.0,Amelia,Virginia,US,37.340810,-77.985846,...,845,844,846,850,852,855,855,856,857,859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3140,84051830,US,USA,840,51830.0,Williamsburg,Virginia,US,37.281313,-76.709051,...,731,731,737,738,741,748,749,743,746,748
3141,84051840,US,USA,840,51840.0,Winchester,Virginia,US,39.170545,-78.173251,...,2752,2751,2759,2762,2765,2773,2786,2785,2790,2793
3142,84051195,US,USA,840,51195.0,Wise,Virginia,US,36.974615,-82.624105,...,3027,3033,3034,3039,3042,3046,3048,3057,3066,3078
3143,84051197,US,USA,840,51197.0,Wythe,Virginia,US,36.915820,-81.078341,...,2451,2461,2473,2490,2494,2503,2508,2526,2527,2536
3144,84051199,US,USA,840,51199.0,York,Virginia,US,37.243748,-76.544128,...,3565,3575,3581,3588,3597,3604,3608,3619,3622,3632

Then, sum the cases on the last day colum